<!-- -->

<launch>

    <!-- Arguments: name of input and output topics -->
    <arg name="pub_topic_arg" default="" /> 
    <arg name="sub_topic_arg" default="" />

    <!-- Parameters -->
    <!-- <param name="" value=""/>   -->

    <!-- Node -->

    <node 
        pkg="ros_cpp_template_package"
        name="ros_cpp_template"  
        type="ros_cpp_template" 
        output="screen"
        respawn="true" >

    <remap from="pub_topic" to="$(arg pub_topic_arg)" />
	<remap from="sub_topic" to="$(arg sub_topic_arg)" />

    </node>

</launch>


